a.nav-link{
    color: #003b46 !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    transition: all .3s ease-in-out !important;
}
a.nav-link:hover {
    color: #07575b !important;
}

p{
    margin: 0 !important;
}
