// Body
$body-bg: #f7f7f7;
/*$body-bg: #c4dfe6;*/

// Typography
/*$font-family-sans-serif: 'Nunito', sans-serif;*/
//$font-family: 'Karla', sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f6c015;
// $green: #38c172;
$green: #7da2a9;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;

$light: #f7f7f7;
$teal: #18b7be;
$cyan: #7da2a9;
$dark: #151515;
$dark-1: #4c4c4c; 
